@charset "UTF-8";
.secoundary-navigation {
	background-color: #09F;
}
.content-area {
	background-color: #FFC;
	padding-left: 50px;
}
.Border-Banner-Area {
	background-color: #00C;
	padding-left: 50px;
}
.homebutton {
	padding-left: 50px;
	background-color: #3CF;
}
.background-page-area {
	background-image: url(ocean-background-3-hq-images-background-and-wallpaper.jpg);
}
